@import "tailwindcss";


*{
  font-family: "Bricolage Grotesque", sans-serif;
}

@theme{
    --color-primary:#FFC1FE;
    --color-secondary:#730000;
    --color-tertiary:#C3D6FF;
    --color-secondaryBlack:#141414;
    --color-bgWhite:#F0F5FF;
}